/* |################################| */
/* |# _colors-variables.scss #######| */
/* |################################| */


// RED
// @red

$red: #FF5252;
$red-50:#FFEEEE;
$red-75: #FFB8B8;
$red-100: #FF9B9B;
$red-200: #FF6F6F;
$red-300: #FF5252;
$red-400: #B33939;
$red-500: #9C3232;


// Pink
// @pink

$pink: #FF4081;
$pink-50: #FFECF2;
$pink-75: #FFB1CB;
$pink-100: #FF90B6;
$pink-200: #FF6096;
$pink-300: #FF4081;
$pink-400: #B32D5A;
$pink-500: #9C274F;


// Purple
// @purple

$purple: #E040FB;
$purple-50: #FCECFF;
$purple-75: #F2B1FD;
$purple-100: #ED90FD;
$purple-200: #E560FC;
$purple-300: #E040FB;
$purple-400: #9D2DB0;
$purple-500: #892799;


// Deep purple
// @deep-purple

$deep-purple: #7C4DFF;
$deep-purple-50: #F2EDFF;
$deep-purple-75: #C9B6FF;
$deep-purple-100: #B398FF;
$deep-purple-200: #926BFF;
$deep-purple-300: #7C4DFF;
$deep-purple-400: #5736B3;
$deep-purple-500: #4C2F9C;


// Indigo
// @indigo

$indigo: #536DFE;
$indigo-50: #EEF0FF;
$indigo-75: #B8C3FF;
$indigo-100: #9BAAFE;
$indigo-200: #7086FE;
$indigo-300: #536DFE;
$indigo-400: #3A4CB2;
$indigo-500: #33429B;


// Blue
// @blue

$blue: #448AFF;
$blue-50: #ECF3FF;
$blue-75: #B2CFFF;
$blue-100: #93BBFF;
$blue-200: #649EFF;
$blue-300: #448AFF;
$blue-400: #3061B3;
$blue-500: #29549C;


// Light Blue
// @light-blue

$light-blue: #40C4FF;
$light-blue-50: #ECF9FF;
$light-blue-75: #B1E7FF;
$light-blue-100: #90DDFF;
$light-blue-200: #60CEFF;
$light-blue-300: #40C4FF;
$light-blue-400: #2D89B3;
$light-blue-500: #27789C;


// Cyan
// @cyan

$cyan: #18FFFF;
$cyan-50: #E8FFFF;
$cyan-75: #A0FFFF;
$cyan-100: #79FFFF;
$cyan-200: #3FFFFF;
$cyan-300: #18FFFF;
$cyan-400: #11B3B3;
$cyan-500: #0F9C9C;


// Teal
// @teal

$teal: #64FFDA;
$teal-50: #F0FFFB;
$teal-75: #BFFFF0;
$teal-100: #A5FFEA;
$teal-200: #7EFFE0;
$teal-300: #64FFDA;
$teal-400: #46B399;
$teal-500: #3D9C85;


// Green
// @green

$green: #69F0AE;
$green-50: #F0FEF7;
$green-75: #C2F9DE;
$green-100: #A8F6D0;
$green-200: #83F3BC;
$green-300: #69F0AE;
$green-400: #4AA87A;
$green-500: #40926A;












