/* |################################| */
/* |# _colors-variables.scss #######| */
/* |################################| */


// White
// @white

$white: #FFFFFF;
$white-50: #FFFFFF;
$white-75: #FFFFFF;
$white-100: #FFFFFF;
$white-200: #FFFFFF;
$white-300: #FFFFFF;
$white-400: #B3B3B3;
$white-500: #9C9C9C;


// Black
// @black

$black: #000000;
$black-50: #E6E6E6;
$black-75: #969696;
$black-100: #6B6B6B;
$black-200: #2B2B2B;
$black-300: #000000;
$black-400: #000000;
$black-500: #000000;

// RED
// @red

$red: #FF5252;
$red-50:#FFEEEE;
$red-75: #FFB8B8;
$red-100: #FF9B9B;
$red-200: #FF6F6F;
$red-300: #FF5252;
$red-400: #B33939;
$red-500: #9C3232;


// Pink
// @pink

$pink: #FF4081;
$pink-50: #FFECF2;
$pink-75: #FFB1CB;
$pink-100: #FF90B6;
$pink-200: #FF6096;
$pink-300: #FF4081;
$pink-400: #B32D5A;
$pink-500: #9C274F;


// Purple
// @purple

$purple: #E040FB;
$purple-50: #FCECFF;
$purple-75: #F2B1FD;
$purple-100: #ED90FD;
$purple-200: #E560FC;
$purple-300: #E040FB;
$purple-400: #9D2DB0;
$purple-500: #892799;


// Deep purple
// @deep-purple

$deep-purple: #7C4DFF;
$deep-purple-50: #F2EDFF;
$deep-purple-75: #C9B6FF;
$deep-purple-100: #B398FF;
$deep-purple-200: #926BFF;
$deep-purple-300: #7C4DFF;
$deep-purple-400: #5736B3;
$deep-purple-500: #4C2F9C;


// Indigo
// @indigo

$indigo: #536DFE;
$indigo-50: #EEF0FF;
$indigo-75: #B8C3FF;
$indigo-100: #9BAAFE;
$indigo-200: #7086FE;
$indigo-300: #536DFE;
$indigo-400: #3A4CB2;
$indigo-500: #33429B;


// Blue
// @blue

$blue: #448AFF;
$blue-50: #ECF3FF;
$blue-75: #B2CFFF;
$blue-100: #93BBFF;
$blue-200: #649EFF;
$blue-300: #448AFF;
$blue-400: #3061B3;
$blue-500: #29549C;


// Light Blue
// @light-blue

$light-blue: #40C4FF;
$light-blue-50: #ECF9FF;
$light-blue-75: #B1E7FF;
$light-blue-100: #90DDFF;
$light-blue-200: #60CEFF;
$light-blue-300: #40C4FF;
$light-blue-400: #2D89B3;
$light-blue-500: #27789C;


// Cyan
// @cyan

$cyan: #18FFFF;
$cyan-50: #E8FFFF;
$cyan-75: #A0FFFF;
$cyan-100: #79FFFF;
$cyan-200: #3FFFFF;
$cyan-300: #18FFFF;
$cyan-400: #11B3B3;
$cyan-500: #0F9C9C;


// Teal
// @teal

$teal: #64FFDA;
$teal-50: #F0FFFB;
$teal-75: #BFFFF0;
$teal-100: #A5FFEA;
$teal-200: #7EFFE0;
$teal-300: #64FFDA;
$teal-400: #46B399;
$teal-500: #3D9C85;


// Green
// @green

$green: #69F0AE;
$green-50: #F0FEF7;
$green-75: #C2F9DE;
$green-100: #A8F6D0;
$green-200: #83F3BC;
$green-300: #69F0AE;
$green-400: #4AA87A;
$green-500: #40926A;


// Light Green
// @light-green

$light-green: #B2FF59;
$light-green-50: #F7FFEE;
$light-green-75: #DFFFBB;
$light-green-100: #D2FF9F;
$light-green-200: #BFFF75;
$light-green-300: #B2FF59;
$light-green-400: #7DB33E;
$light-green-500: #6D9C36;


// Lime
// @lime

$lime: #EEFF41;
$lime-50: #FDFFEC;
$lime-75: #F8FFB1;
$lime-100: #F5FF91;
$lime-200: #F1FF61;
$lime-300: #EEFF41;
$lime-400: #A7B32E;
$lime-500: #919C28;


// Yellow
// @yellow

$yellow: #FFFF00;
$yellow-50: #FFFFE6;
$yellow-75: #FFFF96;
$yellow-100: #FFFF6B;
$yellow-200: #FFFF2B;
$yellow-300: #FFFF00;
$yellow-400: #B3B300;
$yellow-500: #9C9C00;


// Amber
// @amber

$amber: #FFD740;
$amber-50: #FFFBEC;
$amber-75: #FFEFB1;
$amber-100: #FFE890;
$amber-200: #FFDE60;
$amber-300: #FFD740;
$amber-400: #B3972D;
$amber-500: #9C8327;


// Orange
// @orange

$orange: #FFAB40;
$orange-50: #FFF7EC;
$orange-75: #FFDDB1;
$orange-100: #FFCE90;
$orange-200: #FFB960;
$orange-300: #FFAB40;
$orange-400: #B3782D;
$orange-500: #9C6827;


// Deep Orange
// @deep-orange

$deep-orange: #FF6E40;
$deep-orange-50: #FFF1EC;
$deep-orange-75: #FFC4B1;
$deep-orange-100: #FFAB90;
$deep-orange-200: #FF8760;
$deep-orange-300: #FF6E40;
$deep-orange-400: #B34D2D;
$deep-orange-500: #9C4327;


// Brown
// @brown

$brown: #5D4037;
$brown-50: #EFECEB;
$brown-75: #BDB1AD;
$brown-100: #A1908B;
$brown-200: #796059;
$brown-300: #5D4037;
$brown-400: #412D27;
$brown-500: #392722;


// Grey
// @grey

$grey: #616161;
$grey-50: #EFEFEF;
$grey-75: #BEBEBE;
$grey-100: #A3A3A3;
$grey-200: #7C7C7C;
$grey-300: #616161;
$grey-400: #444444;
$grey-500: #3B3B3B;







