/* |################################| */
/* |# _text-variables.scss #########| */
/* |################################| */


// Font Size
// @fs-# (h1, h2, h3, h4, h5, h6, large, base, small, xsmall)

$fs-h1: 2.000rem;
$fs-h2: 1.750rem;
$fs-h3: 1.562rem;
$fs-h4: 1.375rem;
$fs-h5: 1.250rem;
$fs-h6: 1.125rem;
$fs-large: 1.000rem;
$fs-base: 0.875rem;
$fs-small: 0.750rem;
$fs-xsmall: 0.688rem;


// Font Weight
// @fw-# (100, 300, 400, 500, 700, 900)
// @fw-# (thin, light, regular, medium, bold, black)

$fw-100: 100;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;
$fw-900: 900;

$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;


// Text Transform
// @tt-# ()

$tt-none: none;
$tt-capitalize: capitalize;
$tt-uppercase: uppercase;
$tt-lowercase: lowercase;
$tt-full-width: full-width;






