/* |################################| */
/* |# _typography.scss #############| */
/* |################################| */


// Text Type
// @# (h1, h2, h3, h4, h5, h6, large, base, small & xsmall)

.h1 {font-size: $fs-h1;}

.h2 {font-size: $fs-h2;}

.h3 {font-size: $fs-h3;}

.h4 {font-size: $fs-h4;}

.h5 {font-size: $fs-h5;}

.h6 {font-size: $fs-h6;}

.large {font-size: $fs-large;}

.base {font-size: $fs-base;}

.small {font-size: $fs-small;}

.xsmall {font-size: $fs-xsmall;}


// Text Color
// @text-white
// @text-white-# (50, 75, 100, 200, 300, 400 & 500)

.text-white {color: $white;}
.text-white-50 {color: $white-50;}
.text-white-75 {color: $white-75;}
.text-white-100 {color: $white-100;}
.text-white-200 {color: $white-200;}
.text-white-300 {color: $white-300;}
.text-white-400 {color: $white-400;}
.text-white-500 {color: $white-500;}


// @text-black
// @text-black-# (50, 75, 100, 200, 300, 400 & 500)

.text-black {color: $black;}
.text-black-50 {color: $black-50;}
.text-black-75 {color: $black-75;}
.text-black-100 {color: $black-100;}
.text-black-200 {color: $black-200;}
.text-black-300 {color: $black-300;}
.text-black-400 {color: $black-400;}
.text-black-500 {color: $black-500;}


// @text-red
// @text-red-# (50, 75, 100, 200, 300, 400 & 500)

.text-red {color: $red;}
.text-red-50 {color: $red-50;}
.text-red-75 {color: $red-75;}
.text-red-100 {color: $red-100;}
.text-red-200 {color: $red-200;}
.text-red-300 {color: $red-300;}
.text-red-400 {color: $red-400;}
.text-red-500 {color: $red-500;}


// @text-red
// @text-red-# (50, 75, 100, 200, 300, 400 & 500)

.text-pink {color: $pink;}
.text-pink-50 {color: $pink-50;}
.text-pink-75 {color: $pink-75;}
.text-pink-100 {color: $pink-100;}
.text-pink-200 {color: $pink-200;}
.text-pink-300 {color: $pink-300;}
.text-pink-400 {color: $pink-400;}
.text-pink-500 {color: $pink-500;}


// @text-purple
// @text-purple-# (50, 75, 100, 200, 300, 400 & 500)

.text-purple {color: $purple;}
.text-purple-50 {color: $purple-50;}
.text-purple-75 {color: $purple-75;}
.text-purple-100 {color: $purple-100;}
.text-purple-200 {color: $purple-200;}
.text-purple-300 {color: $purple-300;}
.text-purple-400 {color: $purple-400;}
.text-purple-500 {color: $purple-500;}


// @text-indigo
// @text-indigo-# (50, 75, 100, 200, 300, 400 & 500)

.text-indigo {color: $indigo;}
.text-indigo-50 {color: $indigo-50;}
.text-indigo-75 {color: $indigo-75;}
.text-indigo-100 {color: $indigo-100;}
.text-indigo-200 {color: $indigo-200;}
.text-indigo-300 {color: $indigo-300;}
.text-indigo-400 {color: $indigo-400;}
.text-indigo-500 {color: $indigo-500;}


// @text-blue
// @text-blue-# (50, 75, 100, 200, 300, 400 & 500)

.text-blue {color: $blue;}
.text-blue-50 {color: $blue-50;}
.text-blue-75 {color: $blue-75;}
.text-blue-100 {color: $blue-100;}
.text-blue-200 {color: $blue-200;}
.text-blue-300 {color: $blue-300;}
.text-blue-400 {color: $blue-400;}
.text-blue-500 {color: $blue-500;}


// @text-lightblue
// @text-blue-# (50, 75, 100, 200, 300, 400 & 500)

.text-lightblue {color: $light-blue;}
.text-lightblue-50 {color: $light-blue-50;}
.text-lightblue-75 {color: $light-blue-75;}
.text-lightblue-100 {color: $light-blue-100;}
.text-lightblue-200 {color: $light-blue-200;}
.text-lightblue-300 {color: $light-blue-300;}
.text-lightblue-400 {color: $light-blue-400;}
.text-lightblue-500 {color: $light-blue-500;}


// @text-cyan
// @text-cyan-# (50, 75, 100, 200, 300, 400 & 500)

.text-cyan {color: $cyan;}
.text-cyan-50 {color: $cyan-50;}
.text-cyan-75 {color: $cyan-75;}
.text-cyan-100 {color: $cyan-100;}
.text-cyan-200 {color: $cyan-200;}
.text-cyan-300 {color: $cyan-300;}
.text-cyan-400 {color: $cyan-400;}
.text-cyan-500 {color: $cyan-500;}


// @text-teal
// @text-teal-# (50, 75, 100, 200, 300, 400 & 500)

.text-teal {color: $teal;}
.text-teal-50 {color: $teal-50;}
.text-teal-75 {color: $teal-75;}
.text-teal-100 {color: $teal-100;}
.text-teal-200 {color: $teal-200;}
.text-teal-300 {color: $teal-300;}
.text-teal-400 {color: $teal-400;}
.text-teal-500 {color: $teal-500;}


// @text-green
// @text-green-# (50, 75, 100, 200, 300, 400 & 500)

.text-green {color: $green;}
.text-green-50 {color: $green-50;}
.text-green-75 {color: $green-75;}
.text-green-100 {color: $green-100;}
.text-green-200 {color: $green-200;}
.text-green-300 {color: $green-300;}
.text-green-400 {color: $green-400;}
.text-green-500 {color: $green-500;}


// @text-lightgreen
// @text-lightgreen-# (50, 75, 100, 200, 300, 400 & 500)

.text-lightgreen {color: $light-green;}
.text-lightgreen-50 {color: $light-green-50;}
.text-lightgreen-75 {color: $light-green-75;}
.text-lightgreen-100 {color: $light-green-100;}
.text-lightgreen-200 {color: $light-green-200;}
.text-lightgreen-300 {color: $light-green-300;}
.text-lightgreen-400 {color: $light-green-400;}
.text-lightgreen-500 {color: $light-green-500;}


// @text-lime
// @text-lime-# (50, 75, 100, 200, 300, 400 & 500)

.text-lime {color: $lime;}
.text-lime-50 {color: $lime-50;}
.text-lime-75 {color: $lime-75;}
.text-lime-100 {color: $lime-100;}
.text-lime-200 {color: $lime-200;}
.text-lime-300 {color: $lime-300;}
.text-lime-400 {color: $lime-400;}
.text-lime-500 {color: $lime-500;}


// @text-yellow
// @text-yellow-# (50, 75, 100, 200, 300, 400 & 500)

.text-yellow {color: $yellow;}
.text-yellow-50 {color: $yellow-50;}
.text-yellow-75 {color: $yellow-75;}
.text-yellow-100 {color: $yellow-100;}
.text-yellow-200 {color: $yellow-200;}
.text-yellow-300 {color: $yellow-300;}
.text-yellow-400 {color: $yellow-400;}
.text-yellow-500 {color: $yellow-500;}


// @text-amber
// @text-amber-# (50, 75, 100, 200, 300, 400 & 500)

.text-amber {color: $amber;}
.text-amber-50 {color: $amber-50;}
.text-amber-75 {color: $amber-75;}
.text-amber-100 {color: $amber-100;}
.text-amber-200 {color: $amber-200;}
.text-amber-300 {color: $amber-300;}
.text-amber-400 {color: $amber-400;}
.text-amber-500 {color: $amber-500;}


// @text-orange
// @text-orange-# (50, 75, 100, 200, 300, 400 & 500)

.text-orange {color: $orange;}
.text-orange-50 {color: $orange-50;}
.text-orange-75 {color: $orange-75;}
.text-orange-100 {color: $orange-100;}
.text-orange-200 {color: $orange-200;}
.text-orange-300 {color: $orange-300;}
.text-orange-400 {color: $orange-400;}
.text-orange-500 {color: $orange-500;}


// @text-deeporange
// @text-deeporange-# (50, 75, 100, 200, 300, 400 & 500)

.text-deeporange {color: $deep-orange;}
.text-deeporange-50 {color: $deep-orange-50;}
.text-deeporange-75 {color: $deep-orange-75;}
.text-deeporange-100 {color: $deep-orange-100;}
.text-deeporange-200 {color: $deep-orange-200;}
.text-deeporange-300 {color: $deep-orange-300;}
.text-deeporange-400 {color: $deep-orange-400;}
.text-deeporange-500 {color: $deep-orange-500;}


// @text-brown
// @text-brown-# (50, 75, 100, 200, 300, 400 & 500)

.text-brown {color: $brown;}
.text-brown-50 {color: $brown-50;}
.text-brown-75 {color: $brown-75;}
.text-brown-100 {color: $brown-100;}
.text-brown-200 {color: $brown-200;}
.text-brown-300 {color: $brown-300;}
.text-brown-400 {color: $brown-400;}
.text-brown-500 {color: $brown-500;}


// @text-grey
// @text-grey-# (50, 75, 100, 200, 300, 400 & 500)

.text-grey {color: $grey;}
.text-grey-50 {color: $grey-50;}
.text-grey-75 {color: $grey-75;}
.text-grey-100 {color: $grey-100;}
.text-grey-200 {color: $grey-200;}
.text-grey-300 {color: $grey-300;}
.text-grey-400 {color: $grey-400;}
.text-grey-500 {color: $grey-500;}


// Text transform
// @text-transform-# (none, capitalize, uppercase, lowercase, fullwidth)

.text-transform-none {text-transform: $tt-none;}

.text-transform-capitalize {text-transform: $tt-capitalize;}

.text-transform-uppercase {text-transform: $tt-uppercase;}

.text-transform-lowercase {text-transform: $tt-lowercase;}

.text-transform-fullwidth {text-transform: $tt-full-width;}

