/* |################################| */
/* |# _typography.scss #############| */
/* |################################| */


// Text Type
// @# (h1, h2, h3, h4, h5, h6, large, base, small & xsmall)

.h1 {font-size: $fs-h1;}

.h2 {font-size: $fs-h2;}

.h3 {font-size: $fs-h3;}

.h4 {font-size: $fs-h4;}

.h5 {font-size: $fs-h5;}

.h6 {font-size: $fs-h6;}

.large {font-size: $fs-large;}

.base {font-size: $fs-base;}

.small {font-size: $fs-small;}

.xsmall {font-size: $fs-xsmall;}


// Text Color
// @text-white
// @text-white-# (50, 75, 100, 200, 300, 400 & 500)

.text-white {color: $white;}
.text-white-50 {color: $white-50;}
.text-white-75 {color: $white-75;}
.text-white-100 {color: $white-100;}
.text-white-200 {color: $white-200;}
.text-white-300 {color: $white-300;}
.text-white-400 {color: $white-400;}
.text-white-500 {color: $white-500;}


// @text-black
// @text-black-# (50, 75, 100, 200, 300, 400 & 500)

.text-black {color: $black;}
.text-black-50 {color: $black-50;}
.text-black-75 {color: $black-75;}
.text-black-100 {color: $black-100;}
.text-black-200 {color: $black-200;}
.text-black-300 {color: $black-300;}
.text-black-400 {color: $black-400;}
.text-black-500 {color: $black-500;}


// @text-red
// @text-red-# (50, 75, 100, 200, 300, 400 & 500)

.text-red {color: $red;}
.text-red-50 {color: $red-50;}
.text-red-75 {color: $red-75;}
.text-red-100 {color: $red-100;}
.text-red-200 {color: $red-200;}
.text-red-300 {color: $red-300;}
.text-red-400 {color: $red-400;}
.text-red-500 {color: $red-500;}


// @text-red
// @text-red-# (50, 75, 100, 200, 300, 400 & 500)

.text-pink {color: $pink;}
.text-pink-50 {color: $pink-50;}
.text-pink-75 {color: $pink-75;}
.text-pink-100 {color: $pink-100;}
.text-pink-200 {color: $pink-200;}
.text-pink-300 {color: $pink-300;}
.text-pink-400 {color: $pink-400;}
.text-pink-500 {color: $pink-500;}


// @text-purple
// @text-purple-# (50, 75, 100, 200, 300, 400 & 500)

.text-purple {color: $purple;}
.text-purple-50 {color: $purple-50;}
.text-purple-75 {color: $purple-75;}
.text-purple-100 {color: $purple-100;}
.text-purple-200 {color: $purple-200;}
.text-purple-300 {color: $purple-300;}
.text-purple-400 {color: $purple-400;}
.text-purple-500 {color: $purple-500;}


// @text-indigo
// @text-indigo-# (50, 75, 100, 200, 300, 400 & 500)

.text-indigo {color: $indigo;}
.text-indigo-50 {color: $indigo-50;}
.text-indigo-75 {color: $indigo-75;}
.text-indigo-100 {color: $indigo-100;}
.text-indigo-200 {color: $indigo-200;}
.text-indigo-300 {color: $indigo-300;}
.text-indigo-400 {color: $indigo-400;}
.text-indigo-500 {color: $indigo-500;}









// @text-white-# (white, black, red, pink, purple, deeppurple, indigo, blue, lightblue, cyan, teal, green, lightgreen, lime, yellow, amber, orange, deeporange, brown & grey)
